*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  .app-header {
    display: flex;
    align-items: center;
    background-color: #181330;
    color: white;
    font-size:clamp(1rem,4vw,2.5rem);
    line-height: 56px;
  }
  .app-header p{
    width: 50%;
    font-family: "Roboto", sans-serif;
    margin: 2%;
    font-weight: 700;
    font-size: 21px;
  }
  .select-button{
    width: 50%;
    display: flex;
    justify-content: end;
    margin-right: 30px;
  }
  #coinSelect{
    height: 25px;
    background-color: transparent;
    border-color: #181330;
    -webkit-animation: none;
    color: grey;
    margin-right: 25px;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  #coinSelect option{
    color:rgb(190, 188, 188);
    background-color: #181330 ;
  }
  .toogleMode{
    background-color: white;
    border:none;
  
  }
  svg{
    font-size: 20px;
    fill: white;
  }
  .iconToogle {
    color: #fff;
    width: 30px;
    height: 30px;
  }
  